.sale img {
    width: 296px;
    height: 260px;
}

.sale .clearfix div {
    padding: 5px;
}

.sale .clearfix a {

    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #e01125;
    font-size: 15px;
    margin-bottom: 25px;
}
.sale .clearfix a:hover{
    color: #ffffff;
    background: red;
}

.sale {
    margin-left: 30px;
    position: relative;
    width: 300px;
    height: auto;
    border: solid 2px #d1d1d1;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.sale:before {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 80px solid #ff0000;
    border-left: 80px solid transparent;
}

.sale:after {
    position: absolute;
    top: 16px;
    right: 5px;
    transform: rotate(45deg);
    font-family: Tahoma;
    content: "-15%";
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.hot img {
    width: 296px;
    height: 260px;
}

.hot .clearfix div {
    padding: 5px;
}

.hot {
    margin-left: 30px;
    position: relative;
    width: 300px;
    height: auto;
    border: solid 2px #d1d1d1;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.hot:before {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 80px solid #ff0000;
    border-left: 80px solid transparent;
}

.hot:after {
    position: absolute;
    top: 16px;
    right: 5px;
    transform: rotate(40deg);
    font-family: Tahoma;
    content: "New";
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.hot .clearfix a {
    border: solid 1px #007bff;
    background: #007bff;
}
.hot .clearfix a {

    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #e01125;
    font-size: 15px;
    margin-bottom: 25px;
}
.hot .clearfix a:hover{
    color: #ffffff;
    background: red;
}